.proj-heading-card {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.proj-color-card-header {
    background-color: royalblue;
}

.proj-color-card-body {
    background-color: cornflowerblue;
}

.proj-color-link {
    color: aquamarine;
}

.proj-color-fa-star {
    color: gold;
}